@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #181818;
  color: white;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  z-index: 2;
  padding-bottom: 6rem;
}

#right {
  flex: 1;
}

.logo img {
  width: 300px;
  height: auto;
  margin-bottom: -90px;
}
/*Sign in*/

#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signin form {
  width: 80%;
  padding-bottom: 3rem;
}

/*#signin .logo {
  margin-bottom: 8vh;
}*/

#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

#signin .primary-btn {
  width: 100%;
}

#signin .secondary-btn,
.or,
.links {
  width: 60%;
}

#signin .links a {
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  font-size: 0.9rem;
}

#signin .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

#signin .or span {
  color: #ccc;
  padding: 0 0.8rem;
}

#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/viateur-hwang-ijKozFLfnMg-unsplash.jpg") no-repeat
    center center/cover;
  height: 100vh;
  text-align: center;
}

#showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
}

.showcase-content {
  z-index: 2;
}

#showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: white;
  margin-bottom: 1.5rem;
}

#showcase .secondary-btn {
  width: 60%;
  margin: auto;
}

.main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 3.5rem;
}

.main-footer a {
  color: #f96816;
  text-decoration: underline;
}

/*Button*/
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #f96816;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.primary-btn:hover {
  background: #ff7b39;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover {
  border-color: #ff7b39;
  color: #ff7b39;
}

/*media queries*/

@media (min-width: 1200px) {
  #left {
    flex: 4;
  }

  #right {
    flex: 6;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
    background: black;
  }
  #right {
    display: none;
  }

  #sign-in .text-input {
    margin-bottom: 0.7rem;
  }

  #main-footer {
    padding-top: 2rem;
  }
}
